---
import { cn } from "../lib/utils";
---

<main class:list={"py-10 md:py-20"}>
  <article
    class={cn(
      "prose",
      "prose-p:mt-0 prose-p:mb-4",
      "prose-headings:mt-0 prose-headings:tracking-tight prose-headings:font-medium prose-headings:mb-4",
      "prose-h2:text-blue-500",
      "prose-ul:mt-0 prose-ul:mb-4",
      "prose-li:m-0",
      "prose-code:bg-neutral-100 prose-code:px-2 prose-code:py-1 prose-code:rounded-md",
      "prose-blockquote:text-neutral-800 prose-blockquote:bg-neutral-100 prose-blockquote:border-l-4 prose-blockquote:border-neutral-200 prose-blockquote:px-4 prose-blockquote:pt-4 prose-blockquote:pb-2",
      "prose-a:text-blue-500 prose-a:no-underline prose-a:font-medium hover:prose-a:text-blue-600 hover:prose-a:underline",
      "prose-pre:rounded-lg prose-pre:bg-neutral-100 prose-pre:p-4 prose-pre:border prose-pre:border-neutral-200",
      "prose-table:border prose-table:border-neutral-200",
      "prose-thead:border-b prose-thead:border-neutral-200",
      "prose-tbody:border-t prose-tbody:border-neutral-200",
      "prose-th:bg-neutral-100 prose-th:px-3 prose-th:py-2 prose-th:border-r prose-th:border-neutral-200 prose-th:last:border-r-0",
      "prose-td:px-3 prose-td:py-2 prose-td:border-r prose-td:border-neutral-200 prose-td:last:border-r-0 prose-td:border-b prose-td:border-neutral-200 prose-td:last:border-b-0"
    )}
  >
    <slot />
  </article>
</main>
