---
import "../styles/prose.css";
---

<main class:list={"my-8 md:my-12 bg-white rounded-r-3xl rounded-l-sm border border-neutral-200 p-16 lg:p-24"}>
  <article
    class="prose"
  >
    <slot />
  </article>
</main>
