---
import { cn } from "../lib/utils";
---

<main class:list={"py-10 md:py-20"}>
  <article
    class={cn(
      "prose",
      "prose-p:mt-0 prose-p:mb-4 prose-p:text-neutral-600",
      "prose-headings:mt-0 prose-headings:font-medium prose-headings:mb-4",
      "prose-h1:pb-2 prose-h1:mb-4 prose-h1:bg-white prose-h1:pb-4",
      "prose-h2:pb-2 prose-h2:mb-2 prose-h2:sticky prose-h2:top-0 prose-h2:z-10 prose-h2:bg-white prose-h2:py-2",
      "prose-ul:mt-0 prose-ul:mb-4",
      "prose-li:m-0",
      "prose-code:bg-neutral-100 prose-code:px-2 prose-code:py-1",
      "prose-blockquote:text-neutral-800 prose-blockquote:bg-neutral-100 prose-blockquote:px-4 prose-blockquote:pt-4 prose-blockquote:pb-2 prose-blockquote:border prose-blockquote:border-neutral-200 prose-blockquote:rounded-md",
      "prose-a:text-blue-500 prose-a:no-underline prose-a:font-medium hover:prose-a:text-blue-600 hover:prose-a:underline",
      "prose-pre:bg-neutral-100 prose-pre:p-4 prose-pre:border prose-pre:border-neutral-200",
      "prose-table:border prose-table:border-neutral-200",
      "prose-thead:border-b prose-thead:border-neutral-200",
      "prose-tbody:border-t prose-tbody:border-neutral-200"
    )}
  >
    <slot />
  </article>
</main>
