---
import { cn } from "../lib/utils";
---

<main class="container max-w-screen-lg px-8 mx-auto py-10 md:py-20">
  <article
    class={cn(
      "prose-lg prose-p:m-0",
      "prose-headings:mt-0 prose-headings:tracking-tight prose-headings:font-medium prose-headings:mb-0",
      "prose-ul:m-0 prose-li:m-0"
    )}
  >
    <slot />
  </article>
</main>
