---
import Minimap from "../components/Minimap.astro";
import Container from "../components/Container.astro";
import Article from "../components/Article.astro";
// import Navbar from "../components/Navbar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/prism-one-light.css" />
    <link rel="stylesheet" href="../styles/globals.css" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="A concise primer on frontend interview questions, focusing on common patterns and techniques used in technical coding interviews. Includes examples and practice problems for quick interview preparation."
    />
    <meta name="author" content="Frontend Primer" />
    <meta
      name="keywords"
      content="Frontend, Technical Interview, Coding Interview, Programming Interview, Interview Preparation"
    />
    <meta
      property="og:title"
      content="Frontend Primer - Frontend Interview Guide"
    />
    <meta
      property="og:description"
      content="A concise primer on frontend interview questions, focusing on common patterns and techniques used in technical coding interviews."
    />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <meta
      name="twitter:title"
      content="Frontend Primer - Frontend Interview Guide"
    />
    <meta
      name="twitter:description"
      content="A concise primer on frontend interview questions, focusing on common patterns and techniques used in technical coding interviews."
    />
    <title>Frontend Primer</title>
  </head>
  <body>
    <!-- <Navbar /> -->
    <Container class="min-h-screen grid grid-cols-[200px_1fr] bg-white">
      <div class="relative">
        <Minimap />
      </div>
      <Article>
        <slot />
      </Article>
    </Container>
  </body>
</html>

<style>
  html,
  body {
    font-family: "IBM Plex Sans", sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
